{% extends "layout.html" %}

{% block title %}Kaikki harjoitteet{% endblock %}

{% block content %}

<div class="content">
    <h1>Selaa kaikkia harjoitteita</h1>
    <div>
    <div class="fp__exercises">
        <div class="fp__exercises--title-container">
            <h2>Harjoitteet</h2>
            <form class="search-form">
                <input name="query" value='{{ query if query else "" }}'/>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <button>Etsi</button>
            </form> 
        </div>
        <div class="fp__exercises-container">
            {% for e in exercises %}
                <div class="exercises__item"> 
                    <div class="exercises__item--text-container">
                        <a href="/harjoitteet/{{e.id}}">
                            <h3 class="exercises__item--title">{{ e.title }}</h3>
                        </a>
                        <p class="exercises__item--info">{{ e.goal_set_amount }} x {{ e.goal_rep_amount }} x {{ e.goal_weight}}kg</p>
                        <p class="exercises__item--info">{{ e.category_label }}</p>
                    </div>
                    <form method="POST" action="/api/exercise/{{e.id}}/category">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                        <input type="hidden" name="page" value="{{page}}"/>
                        <select name="category_id">
                            {% for category in categories %}
                                <option value="{{category.id}}" {{"selected" if category.id == e.category_id else ""}}>{{ category.label }}</option>
                            {% endfor %}
                        </select>
                        <button>Muokkaa</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <p>
            {% if page > 1 %}
            <a href="/harjoitteet?page={{ page - 1 }}&query={{query}}">&lt;&lt;</a>
            {% endif %}
            Sivu {{ page }}/{{ page_count }}
            {% if page < page_count %}
            <a href="/harjoitteet?page={{ page + 1 }}&query={{query}}">&gt;&gt;</a>
            {% endif %}
        </p>
        {% if not exercises|length %}
            <p>Ei harjoitteita. Lisää uusia nähdäksesi ne tässä.</p>
        {% endif %}
    </div>
</div>

{% endblock %}