{% extends "layout.html" %}

{% block title %}Uusi harjoite{% endblock %}

{% block content %}

<div class="content">
    <h1>Muokkaa harjoitetta</h1>

    <div class="new-exercise__container">
        <form class="new-exercise__input-container" method="post" action="/api/exercise/{{ exercise.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <label class="exercise__input-label">
                Harjoitteen nimi
                <input name="title" value="{{exercise.title}}" required maxlength="100"/>
            </label>
            <div class="exercise__input-group">
                <label class="exercise__select">
                    Setit
                    <input value="{{exercise.goal_set_amount}}" type="number" min="1" max="5" name="set_amount" required/>
                </label>
                <span> x </span>
                <label class="exercise__select">
                    Toistot
                    <input value="{{exercise.goal_rep_amount}}" type="number" min="1" max="100" name="rep_amount" required/>
                </label>
                <span> x </span>
                <label class="exercise__select">
                    Painot (kg)
                    <input value="{{exercise.goal_weight}}" type="number" min="1" max="300" name="weight" required/>
                </label>
                <label class="exercise__input-label">
                    Millainen harjoite?
                    <select name="category_id">
                        {% for category in categories%}
                            <option value="{{category.id}}" {{"selected" if category.id == exercise.category_id else ""}}>{{category.label}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <label class="exercise__input-label">
                Ohjeet (valinnainen)
                <textarea name="description" maxlength="300">{{ exercise.description }}</textarea>
            </label>
            <button>Muokkaa</button>
            <a href="/">Palaa etusivulle</a>
        </form>

    </div>

</div>

{% endblock %}