{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}

<div class="content">
    <h1>Hei {{session.username}}!</h1>

    <div class="fp__quick-actions">
        <a class="quick-actions__selection" href="/uusi">
            Lisää harjoite
        </a>
        <a class="quick-actions__selection" href="/harjoittele">
            Harjoittele        
        </a>
    </div>
    <div>
    <div class="fp__exercises">
        <div class="fp__exercises--title-container">
            <h2>Harjoitteet</h2>
            <form class="search-form">
                <input name="query" value='{{ query if query else ""}}'/>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <button>Etsi</button>
            </form> 
        </div>
        <div class="fp__exercises-container">
            {% for e in exercises %}
                <div class="exercises__item"> 
                    <div class="exercises__item--text-container">
                        <h3 class="exercises__item--title">{{ e.title }}</h3>
                        <p class="exercises__item--info">{{ e.goal_set_amount }} x {{ e.goal_rep_amount }} x {{ e.goal_weight}}kg</p>
                        <p class="exercises__item--info">{{ e.category_label }}</p>
                    </div>
                    <div class="button-group">
                        <a href="/harjoitteet/{{e.id}}/muokkaa?referrer=/profiili">Muokkaa</a>
                        <form method="POST" action="/api/exercise/delete">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                            <input type="hidden" name="exercise_id" value="{{ e.id }}"/>
                            <button>Poista</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if not exercises|length %}
            <p>Ei harjoitteita. Lisää uusia nähdäksesi ne tässä.</p>
        {% endif %}
    </div>
</div>

{% endblock %}