{% extends "layout.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}

<div class="content login__area">
    <div class="login__container">
        <h2 class="login__title">Kirjaudu</h1>
        <form class="login__input-container" method="post" action="/api/login">
            <label class="login__input-label">
                Käyttäjätunnus: 
                <input name="username" />
            </label>
            <label class="login__input-label">
                Salasana: 
                <input type="password" name="password"/>
            </label>
            <button>Kirjaudu</button>
        </form>
        <div class="login__register-container">
            <a href="/register" class="login__register-link">Eikö ole tunnusta? Rekisteröidy.</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, msg in messages %}
                {% if category == 'error':%}
                <div class="error message">
                    {{msg}}
                </div>
                {% else: %}
                <div class="success message">
                    {{msg}}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}