{% extends "layout.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}

<div class="content login__area">
    <div class="login__container">
        <h2 class="login__title">Kirjaudu</h1>
        <div class="login__input-container">
            <label class="login__input-label">
                Käyttäjätunnus: 
                <input />
            </label>
            <label class="login__input-label">
                Salasana: 
                <input />
            </label>
        </div>
        <div class="login__register-container">
            <a href="/register" class="login__register-link">Eikö ole tunnusta? Rekisteröidy.</a>
        </div>
    </div>
</div>

{% endblock %}