{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}

<div class="content">
    <h1>Profiili: {{session.username}}</h1>
    <div class="profile__stats">
        <h2>Tilastot</h2>
        <div class="profile__stats-container">
            <p>Harjoittelupäiviä tällä viikolla: {{stats.count_training_days_week}}.</p>
            <p>Tänään suoritetut harjoitteet: {{stats.count_exercises_today}}</p>
        </div>
    </div>
    <div class="fp__exercises">
        <div class="fp__exercises--title-container">
            <h2>Suoritetut harjoitteet</h2>
            <form class="search-form">
                <input name="query" value='{{ query if query else ""}}'/>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <button>Etsi</button>
            </form> 
        </div>
        <div class="fp__exercises-container">
            {% for e in exercises %}
                <div class="exercises__item exercises__item--profile"> 
                    <div class="exercises__item--text-container">
                        <h3 class="exercises__item--title">{{ e.title }}</h3>
                        <p class="exercises__item--info">{{ e.set_amount }} x {{ e.rep_amount }} x {{ e.weight}}kg</p>
                        <p class="exercises__item--description">{{e.completed_at}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% if not exercises|length %}
            <p>Ei harjoitteita. Lisää uusia nähdäksesi ne tässä.</p>
        {% endif %}
                <p>
                    {% if page > 1 %}
                    <a href="/profiili?page={{ page - 1 }}">&lt;&lt;</a>
                    {% endif %}
                    Sivu {{ page }}/{{ page_count }}
                    {% if page < page_count %}
                    <a href="/profiili?page={{ page + 1 }}">&gt;&gt;</a>
                    {% endif %}
                </p>
    </div>
</div>

{% endblock %}