{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}

<div class="content login__area">
    <div class="login__container">
        <h2 class="login__title">Rekisteröidy</h1>
        <form class="login__input-container" method="post" action="/api/register">
            <label class="login__input-label">
                Käyttäjätunnus: 
                <input name="username" />
            </label>
            <label class="login__input-label">
                Salasana: 
                <input name="password1" type="password"/>
            </label>
            <label class="login__input-label">
                Salasana uudelleen: 
                <input name="password2" type="password"/>
            </label>
            <button>Rekisteröidy</button>
        </form>
        <div class="login__register-container">
            <a href="/login" class="login__register-link">Onko sinulla jo tunnus? Kirjaudu.</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, msg in messages %}
                {% if category == 'error':%}
                <div class="error message">
                    {{msg}}
                </div>
                {% else: %}
                <div class="success message">
                    {{msg}}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}