{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}

<div class="content login__area">
    <div class="login__container">
        <h2 class="login__title">Rekisteröidy</h1>
        <div class="login__input-container">
            <label class="login__input-label">
                Käyttäjätunnus: 
                <input />
            </label>
            <label class="login__input-label">
                Salasana: 
                <input />
            </label>
            <label class="login__input-label">
                Salasana uudelleen: 
                <input />
            </label>
        </div>
        <div class="login__register-container">
            <a href="/login" class="login__register-link">Onko sinulla jo tunnus? Kirjaudu.</a>
        </div>
    </div>
</div>

{% endblock %}